NegosudCore/.vs/*

NegosudCore/NegoduxAPI/obj/
NegosudCore/NegosudWeb/obj/
NegosudCore/Negosud Plateforme/obj/


NegosudCore/NegoduxAPI/obj/Debug/net5.0/NegoduxAPI.csprojAssemblyReference.cache
NegosudCore/NegoduxAPI/obj/Debug/net5.0/NegoduxAPI.csprojAssemblyReference.cache
NegosudCore/NegoduxAPI/obj/NegoduxAPI.csproj.nuget.dgspec.json
NegosudCore/NegoduxAPI/obj/NegoduxAPI.csproj.nuget.g.props
NegosudCore/NegoduxAPI/obj/project.assets.json
NegosudCore/NegoduxAPI/obj/project.nuget.cache
NegosudCore/Negosud Plateforme/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NegosudCore/Negosud Plateforme/obj/Debug/Negosud Plateforme.csprojAssemblyReference.cache
NegosudCore/NegosudWeb/obj/Debug/net5.0/NegosudWeb.assets.cache
NegosudCore/NegosudWeb/obj/Debug/net5.0/NegosudWeb.fsproj.CoreCompileInputs.cache
NegosudCore/NegosudWeb/obj/Debug/net5.0/NegosudWeb.fsprojAssemblyReference.cache
NegosudCore/NegosudWeb/obj/NegosudWeb.fsproj.nuget.dgspec.json
NegosudCore/NegosudWeb/obj/NegosudWeb.fsproj.nuget.g.props
NegosudCore/NegosudWeb/obj/project.assets.json
NegosudCore/NegosudWeb/obj/project.nuget.cache
