/* width */
::-webkit-scrollbar {
	width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1f1f1f;
}

.navbar {
	border-radius: 0px!important;
}
