@{
	ViewBag.Title = "Accueil";
}

@section css {
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet" />
	<link href="@Url.Content("~/Assets/css/home.css")" rel="stylesheet" />
}



@section scripts{
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="~/Assets/js/home.js"></script>
}

<div class="slider">
	<div class="items-group">


		<div class="item">
			<a class="block" href="/produits">
				<span class="circleLight"></span>
				<div class="text">
					<h2>NEGOSUD</h2>
					<p>Nos Produits</p>
				</div>
			</a>
		</div>


		<div class="item">
			<a class="block" href="/fournisseurs">
				<span class="circleLight"></span>
				<div class="text">
					<h2>NEGOSUD</h2>
					<p>Nos Fournisseurs</p>
				</div>
			</a>
		</div>

	</div>

	<div class="navigations">
		<ul class="dots"></ul>
	</div>
</div>